/* #region global */

/* font */
*{
    font-family: 'mukta vaani';
    list-style: none;
    text-decoration: none;
    outline: none;
}

/* sizes */
:root{
    --super-hero:5rem;
    --title-defaut:3rem;
    --subtitle-defaut:2rem;
    --table-title:1.8em;
    --paragraph-defaut:1.5em;
    --anchor-defaut:1.2em;
}

/* colors */
:root{
    --color-defaut: rgb(174, 128, 162);
    --color-primary:#f7f2fe;
    --color-segundary:rgb(221, 173, 187);
    --color-tertiary: #f14e85; 
    --color-base:rgb(41, 49, 132);
    --color-fading:rgba(89, 64, 199, 0.808);
    --color-bg:rgba(0, 0, 0, 0.507);
    --color-bg-2:rgba(0, 0, 0, 0.685);
    --color-detail:rgb(254, 255, 188);
    --color-table:rgba(173, 204, 255, 0.925);
    --color-text-box:#151775;
    --color-text-box-focus:#f7f2ee;
    --color-bg-footer:rgb(85, 58, 162);
    --color-card:rgba(0, 0, 0, 0.377);
    --color-btn:rgb(120, 153, 251);
    --color-btn-hover:transparent;
    --color-detail6:black;
}

/* resources */
:root{
    font-size: 18px;
    /* overflow:hidden server para trvar o scrool do mouse, ele nao funcionara */
    /* overflow: hidden; */
    /* scroll-behavior serve para suavizar a transicao entre as sections */
    scroll-behavior: smooth;
    color: var(--color-segundary);
}

/* body */
body{
    font-size: 16px;
    background-color: var(--color-segundary);
}

section{
    width: 100%;
    height: auto;
}

h1{
    font-size: var(--title-defaut);
}

h2{
    font-size: var(--subtitle-defaut);
}

p{
    font-size: var(--paragraph-defaut);
}


a{
    font-size: var(--anchor-defaut);
    color: var(--color-segundary);
    transition: .5s;
}

:hover{
    transition: .5s;
}

/* #endregion */

/* #region navbar */
.navbar{
    background-color: var(--color-card) !important;
    z-index: 99;
    position: fixed !important; 
    width: 100%;
    
}

.navbarBrand{
    color: var(--color-segundary) !important;
    font-size: var(--subtitle-defaut) !important;
    font-weight: 120;
    text-align: center;

}

.navLink {
    color: var(--color-primary) !important;
    font-size: var(--paragraph-defaut) !important;
    transition: .5s;
}

.navLink:hover {
    color: var(--color-tertiary) !important;
    transition: .5s;
}

.icone{
    text-align: center;
    padding: .2em;
    width: 50px;
}

.navbarLine{
    padding: 0 1em;
}
/* #endregion */

/*#region home*/
/* Para chamar o ID usa-se '#' */
#home{
    background-image: url('../img/home.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.homeContainer{
    height: 100vh;
    line-height: 100vh;
    width: 100%;
    background-color: var(--color-bg);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.homeInner{
    
    display: flex;
    /* flex-direction: column; serve para mudar a forma que os elementos serao enquadrados, nesse caso sera em coluna (um em cima do outro) */
    flex-direction: column;
    /* ao usar o z-index precisa tambem colocar as propriedades de tamanho do elemento para que ele apareca na tela */
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.homeContainer h1{
    font-size: var(--super-hero);
    color: var(--color-segundary);
    font-weight: 700;
}
/*#endregion*/

/*#region about*/
#about{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--color-detail6);
}

.aboutContainer {
    background-color: var(--color-bg-2);
    position: absolute;
    display: flex;
    flex-direction: column ;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 98;
}

.aboutInner {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;

    width: 50%;
    flex-basis: 50%;
}

#about video{
    height: 100%;
    width: 100%;
    z-index: 96;
}

.aboutContainer h1{
    font-size: var(--super-hero);
    color: var(--color-primary);
}

.aboutContainer span{
    color: var(--color-tertiary);
    text-transform: capitalize;
}


.aboutContainer p{
    /* margin: 0 17em;
    padding: 1em 0;
    font-weight: 100;
    width: 50%; */
    font-size: var(--table-title);
    color: var(--color-primary);
}



/*#endregion*/

/*#region gallery*/
#gallery{
    background-color: var(--color-base);
    width: 100%;
    height: 100vh;
}

.galleryContainer{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: .8em;
    row-gap: 2em;
    padding: 0 12em;
    
    
}

.galleryInner{
    width: 20%;
    padding: .5em;
}

.galleryInner img{
    transition: .5s;
    filter: brightness(50%) saturate(0%);
    border-radius: 7px;
}

.galleryInner img:hover{
    filter: saturate(100%);
}

.filter{
    width: 100%;
    text-align: center;
    padding: 7em 0 2em 0 ;
}

.filter li{
    display: inline;
    padding: 0 1.8em;
    font-size: var(--text-paragraph);
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: .1em;
    transition: .5s;
    color: var(--color-primary);
}

.filter li:hover{
    color: var(--color-detail6);
    background-color: var(--color-segundary);
    transition: .5s;
    border-radius: 5px;
}

.filter li.active{
    background-color: var(--color-segundary);
    color: var(--color-detail6);
    border-radius: 3px;
}

/*#endregion*/

/*#region services*/
#services {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 6em;
    background-color: var(--color-bg-footer);
}

#services h1{
    color: var(--color-primary); 
}

#services h4{
    color: var(--color-tertiary); 
    font-weight: 600;
    font-size: var(--table-title) !important; 
}

.servicesContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 5em;

}

.card a{
    font-weight: 600;
    transition: .5s;
}

.card a:hover{
    color: var(--color-tertiary);
}
/* #endregion */

/* #region contact */

#contact {
    width: 100%;
    height: 80vh;
    background-color: var(--color-base);
    padding: 8em;
    text-align: center;
    
}
#contact h1 {
    color: var(--color-primary);  
}

.contactInner span{
    color: var(--color-primary);
}

.btnDefault{
    border: 1px solid var(--color-btn-hover);
    border-radius: 5px;
    background-color: var(--color-btn);
    padding: .8em 2em;
    transition: .5s;
    color: var(--color-primary);
}

.btnDefault:hover{
    border: 1px solid var(--color-tertiary);
    background-color: var(--color-btn-hover);
    color: var(--color-primary);
}

/*#endregion*/

/* #region footer */

footer{
    width: 100%;
    height: auto;
    background-color: var(--color-bg-footer);
    padding: 1rem;
    font-size: var(--footer-defaut);
    position: relative;
}

.footerContainer{
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.footerContainer a{
    height: 1.5rem;
    line-height: 1.5rem;
    transition: .5s;
    opacity: .6;
    color: var(--color-primary);
}

.footerContainer a:hover{
    opacity: 1;
    transition: .5s;
    
}


.footerContainer h5 {
    color: var(--color-primary);
}

.navbarBrand {
    padding-bottom: .2rem;
}


/* #endregion */
